<launch>
	<!-- Args -->
	<arg name="use_kinect" default="1"/>
	<arg name="disable_motors" default="0"/>

	<group ns="hardware_interface">
		<node pkg="comms" type="hardware_interface.py" name="hardware_interface"/>
		<node unless="$(arg disable_motors)" pkg="motor_controler" type="primative_driver.py" name="primative_driver"/>
	</group>
</launch>