<launch>
	<!-- Args -->
	<arg name="disable_motors" default="0"/>

	<group ns="hardware_interface">
		<node pkg="hardware_interface" type="hardware_interface.py" name="hardware_interface"/>
		<node unless="$(arg disable_motors)" pkg="hardware_interface" type="primative_driver.py" name="primative_driver"/>
	</group>
</launch>