<launch>
	<!-- args -->
	<arg name="use_kinect" default="1"/>
	<!-- Height is inverted, towards the sky is negative, towards the ground is positive -->
	<arg name="min_pc_height" default="-0.5"/>
	<arg name="max_pc_height" default="0.05"/>
	<arg name="euclidean_cluster_tolerance" default="0.05"/>
	<arg name="euclidean_min_cluster_size" default="100"/>	
	<arg name="euclidean_max_cluster_size" default="1048575"/>
	<arg name="voxel_size" default="0.01"/>
	<arg name="cylinder_axis_tolerance" default="10"/>
	
	<arg name="start_gate_min_width" default="0.250"/>
	<arg name="start_gate_max_width" default="1.0"/>

	<arg name="same_unkown_distance" default="0.1"/>
	<arg name="same_cylinder_distance" default="0.1"/>
	<arg name="same_sphere_distance" default="0.1"/>
	<arg name="same_start_gate_distance" default="0.1"/>

	<arg name="unkown_lifetime" default="5.0"/>
	<arg name="cylinder_lifetime" default="5.0"/>
	<arg name="sphere_lifetime" default="5.0"/>
	<arg name="start_gate_lifetime" default="5.0"/>

	<!-- Static transforms -->
	<node pkg="tf" type="static_transform_publisher" name="kinect_to_base_link"
	     args="0 0 0.065 0 0 0 base_link camera_link 100" />  

	<node pkg="tf" type="static_transform_publisher" name="front_sonar_to_base_link"
	     args="0.1524 0 0 0 0 0 base_link front_sonar_link 100" /> 

	<node pkg="tf" type="static_transform_publisher" name="back_sonar_to_base_link"
	     args="-0.1524 0 0 3.14159265359 0 0 base_link back_sonar_link 100" /> 

	<node pkg="tf" type="static_transform_publisher" name="front_right_sonar_to_base_link"
	     args="0.0762 -0.13198227153 0 -0.52359877559 0 0 base_link front_right_sonar_link 100" /> 

	<node pkg="tf" type="static_transform_publisher" name="front_left_sonar_to_base_link"
	     args="0.0762 0.13198227153 0 0.52359877559 0 0 base_link front_left_sonar_link 100" /> 

	<group ns="percepts">
		<node pkg="percept_generators" type="encoder_to_vels.py" name="encoder_to_vels"/>

		<node pkg="percept_generators" type="encoder_fwd_kinematics.py" name="encoder_fwd_kinematics"/>

		<node if="$(arg use_kinect)" pkg="percept_generators" type="colored_obj_extractor" name="object_extractor">
			<param name="min_pc_height" value="$(arg min_pc_height)" type="double"/>
			<param name="max_pc_height" value="$(arg max_pc_height)" type="double"/>
			<param name="euclidean_cluster_tolerance" value="$(arg euclidean_cluster_tolerance)" type="double"/>
			<param name="euclidean_min_cluster_size" value="$(arg euclidean_min_cluster_size)"/>	
			<param name="euclidean_max_cluster_size" value="$(arg euclidean_max_cluster_size)" type="int"/>
			<param name="voxel_size" value="$(arg voxel_size)" type="double"/>
			<param name="cylinder_axis_tolerance" value="$(arg cylinder_axis_tolerance)" type="double"/>
		</node>

		<node if="$(arg use_kinect)" pkg="percept_generators" type="find_start_gate.py" name="find_start_gate">
			<param name="start_gate_min_width" value="$(arg start_gate_min_width)" type="double"/>
			<param name="start_gate_max_width" value="$(arg start_gate_max_width)" type="double"/>
		</node>

		<node pkg="percept_generators" type="refine_objects.py" name="refine_objects">
			<param name="same_unkown_distance" value="$(arg same_unkown_distance)" type="double"/>
			<param name="same_cylinder_distance" value="$(arg same_cylinder_distance)" type="double"/>
			<param name="same_sphere_distance" value="$(arg same_sphere_distance)" type="double"/>
			<param name="same_start_gate_distance" value="$(arg same_start_gate_distance)" type="double"/>

			<param name="unkown_lifetime" value="$(arg unkown_lifetime)" type="double"/>
			<param name="cylinder_lifetime" value="$(arg cylinder_lifetime)" type="double"/>
			<param name="sphere_lifetime" value="$(arg sphere_lifetime)" type="double"/>
			<param name="start_gate_lifetime" value="$(arg start_gate_lifetime)" type="double"/>
		</node>
	</group>

</launch>